.description {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  width: 100%;
}

.card-body{
  display: flex;
  padding: 0;
  flex-direction: row;
  min-height: 160px;
}

.intro{
  display: block;
  flex-direction: row;
  min-height: 203px;
}

.intro span{
  display: block;
}

.description .image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 2rem;
}

.description .list-group-item {
  padding: .25rem;
}

.description .list-group-item .term{
  margin-right: .5rem;
}